// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb {
  display: inline-block;
}
.forms {
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  .new_image {
    margin-top: 5vh;
  }
  h2 {
    text-transform: uppercase;
  }
  input {
    width: 30%;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  textarea {
    width: 30%;
    height: 6vh;
  }
}
input.submit {
  width: 20%;
  font-size: 50px;  
  font-family: 'Montserrat', sans-serif;
}
div.thumb {
  position: relative;
  display: inline-block;
  background-color: black;
  .txthover {
    position: absolute;
    width: 80%;
    margin: 20% 10%;
    text-align: center;
    color: white;
    font-size: 20px;
    visibility: hidden; 
  }
  img{
    width: 20vw;
    height: 30vh;
    float: left
  }
  img:hover {
    opacity: 0.3;
  }
}
.thumb:hover {
  .txthover {
    visibility: visible;
  }
}
.show {
  margin-top: 6vh;
  img {
    width: 70%;
    margin: 0 15%;
  }
}
section.main {
  height: 100%;
}
.right {
  width: 70%;
  display: inline-block;
  float: left;
}
.left {
  width: 30%; 
  display: inline-block;
}

