// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb {
  display: inline-block;
}

.thumb:hover {
  opacity: 0.5;
}
div.thumb {
  display: inline-block;
  width: 20vw;
  height: 30vh;
  background-color: blue;
  float: left
}
.show {
  margin-top: 12vh;
  img {
    width: 70%;
    margin: 0 15%;
  }
}
section.main {
  height: 100%;
  margin-top: 10vh;
}
.right {
  width: 70%;
  display: inline-block;
  float: left;
}
.left {
  width: 30%; 
  display: inline-block;

}

