// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  display: inline-block;
}
div.thumb img{
  margin: 0;
  display: inline-block;
  width: 20vw;
  max-height: 25vh;
}