// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}
h3 {
  margin: 0;
}
.hidden {
  display: none;
}
i.fa.fa-bars.menu {
  font-size: 30px;
  position: fixed;
  z-index: 99;
  top: 20px;
  left: 0;
  background-color: white;
  padding: 10px 40px;
  opacity: 0.7;
}
.close {
  text-align: center;
  width: 20%;
  display: inline-block;
  float: left;
  vertical-align: middle;
  font-size: 30px;
  line-height: 10vh;
}
.navigation {
  position: fixed;
  top: 0px;
  visibility: hidden;
  width: 0vw;
  height: 10vh;
  background-color: peachpuff;
  -webkit-transition: all 2s;
  transition: all 2s;
  z-index: 999;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.opennav {
  position: fixed;
  top: 0px;
  left: 0;
  visibility: visible;
  width: 100vw;
  height: 10vh;
  background-color: peachpuff;
}
.postbutton{
  width: 20%;
  height: 100%;
  text-align: center;
  border-style: none;
  background-color: transparent;
  float: left;
  display: inline-block;
}
.postbutton:hover {
  color: white;
  background-color: black;
  opacity: 0.3;
}
form.button_to {
  height: 100%;
  width: 20%;
  float: left;
}
div.session {
  width: 20%;
  display: inline-block;
  float: left;
  button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}
.session{
  width: 100%;
  height: 100%;
  text-align: center;
  border-style: none;
  background-color: transparent;
  float: left;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.session:hover {
  color: white;
  background-color: black;
  opacity: 0.3;
}
.comment {
  margin: 1vh 0;
  background-color: peachpuff;
  padding: 10px 20px;
}
.leaderboardbutton {
  position: fixed;
  font-size: 20px;
  top: 80px;
  right: 0;
  background-color: white;
  opacity: 0.8;
  z-index: 9999;
  padding: 10px 20px;
}
.leaderboard {
  position: fixed;
  top: 90px;
  right: -500px;
  text-align: left;
  padding: 10px 20px;
  background-color: white;
  opacity: 0.8;
  z-index: 9999;
  text-transform: uppercase; 
  -webkit-transition: all 2s;
  h3 {
    margin-bottom: 5px;
  }
}
section.main {
  position: absolute;
  top: 0;
}
.flash {
  position: fixed;
  top: 100px;
  left: 0px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  z-index: 99999;
}
.instruction {
  width: 100vw;
  background-color: black;
  opacity: 0.98;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
   img { 
   width: 80%;
   margin: 5% 10%;
   }
   i {
    font-size: 50px;
    color: white;
    margin-bottom: 5%;
   }
}
div.session:hover {
  opacity: 0.5;
  button {
    color: white;
  }
}
