// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}
.hidden {
  display: none;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: peachpuff;
}
.postbutton{
  width: 20%;
  height: 100%;
  text-align: center;
  border-style: none;
  background-color: transparent;
  float: left;
  display: inline-block;
}
.postbutton:hover {
  color: white;
  background-color: black;
  opacity: 0.3;
}
form.button_to {
  height: 100%;
}
.session{
  width: 20%;
  height: 100%;
  text-align: center;
  border-style: none;
  background-color: transparent;
  float: left;
  display: inline-block;
}
.session:hover {
  color: white;
  background-color: black;
  opacity: 0.3;
}