
<div class='leaderboard'>
  <h1>Leaderboard</h1>
  
</div>

<section class='main'>
  <% @images.each do |i| %>
    <%= link_to image_path(i.id) do %>
      <div class='thumb'>
         <%= image_tag i.avatar.url(:medium) %>
        <div class='txthover' >
          <%= i.title %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>


