<section class='show'>
  <img src="<%= @image.photo %>">
  <br>
  Title:
  <br>
  Date: 
  <br>
  Description:
  <br>
</section>
Upvotes: <%= @image.votes.count %>
<%= link_to "Upvote", upvote_path %>
